.navListFormat {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #e8e8e8;
  }

  .navBar {
    background-color: grey;
    position: fixed;
    left: 0;
    right: 0;
    top: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    position: sticky;
    top: 0%;
    width: 100%;
    overflow: hidden;
  }

  .title{
      font-family: algerian;
      font-size: 40px;
      color: grey;
      text-align: center;
  }

  .description{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 20px;

  }

.bgimg1{
    width: 400px;
    height: 300px;
    block-size: 400px;
    text-align: center;
}

.barDiv{
  margin-left: 300px;
}

.bar {
  background-color: #e8e8e8;
  margin-right: 300px;
  height: 30px;
  width: 75%;
}

.barTitle{
  color: grey;
  font-size: 25px;
  font-family: fantasy;
  text-align: justify;
  font-weight: normal;
}

.filBar{
  background-color: grey;
  width: 60%;
  color: grey;
  padding-top: 10px;
}

.filBar1{
  background-color: grey;
  width: 95%;
  color: grey;
  padding-top: 10px;
}

.filBar2{
  background-color: grey;
  width: 90%;
  color: grey;
  padding-top: 10px;
}

.inBar{
  color: white;
  padding-left: 450px;
  text-align: center;
}

.greyDiv{
  background-color: grey;
  color: black;
  width: 80%;
  margin-left: 150px;
  height: 10px;
  text-align: left;
  padding: 20px;
  padding-left: 60px;
  padding-top: 0px;
  font-weight: bold;
  font-size: 20px;
}

.portimg1{
  height: 310px;
  width: 600px;
  margin-left: 100px;
  border-radius: 10px;
  float: left;
  opacity: 0.8;
}

.portimg2{
  height: 310px;
  width: 600px;
  margin-left: 20px;
  margin-right: 100px;
  border-radius: 10px;
  float: right;
  opacity: 0.8;
}

.portimg3{
  height: 310px;
  width: 600px;
  margin-left: 100px;
  border-radius: 10px;
  float: left;
  opacity: 0.8;
  padding-top: 50px;
}

.myLogo{
  text-align: left;
  block-size: 400px;
}

.logotext{
  padding-top: 700px;
  font-size: 40px;
  color: grey;
  font-family: algerian;
  text-align:center;
}

.logoImg{
  height: 500px;
  width: 700px;
  margin-left: 450px;
}

.setPadding{
  padding-top: 850px;
}

.submitButton{
  margin-top: 10px;
  margin-left: 213px;
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
  background-color: black;
  color: white;
  border: none;
  transition-duration: 0.2s;
}

.contactIconContainer {
  text-align: center;
}

.formContainer {
  margin-left: 583px;
}

.inputBox1 {
  margin-top: 2px;
  height: 25px;
  float: left;
  padding: 0px 10px;
}

.inputBox2 {
  height: 25px;
  margin-left: 10px;
  padding: 0px 10px;
}

.inputBox3 {
  margin-top: 10px;
  height: 25px;
  width: 315px;
  margin-right: 800px;
  padding: 0px 10px;
}

.boxBorder {
  border-color: grey;
  border-width: thin;
}

.btn3Format {
  margin-top: 10px;
  margin-left: 90px;
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
  background-color: grey;
  color: white;
  border: none;
  transition-duration: 0.2s;
}

.icons{
  text-align: center;
  word-spacing: 30px;
  color: black;
  font-size: 30px;
  background-color: grey;
  
}

.logoFormat {
  text-decoration: none;
  font-size: 40px;
  font-weight: normal;
  /* padding-bottom: 20px; */
  color: inherit;
}
